personnel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="personnels">
        <xs:complexType>
            <xs:sequence>
                <!-- !element medecins-->
                <xs:element name="medcins">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- ?sous element de medecins-->
                            <xs:element name="medecin" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!-- *element matricule-->
                                        <xs:element name="matricule">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="MED-[A-Za-z0-9]{5}"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <!-- *fin element matricule-->

                                        <!-- *element nom-->
                                        <xs:element name="nom_complet" type="xs:string"></xs:element>

                                        <!-- *element specialite-->
                                        <xs:element name="specialite">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="generaliste"></xs:enumeration>
                                                    <xs:enumeration value="cardiologue"></xs:enumeration>
                                                    <xs:enumeration value="pediatre"></xs:enumeration>
                                                    <xs:enumeration value="chirugien"></xs:enumeration>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <!-- *fin element specialite-->

                                        <!-- *element service-->
                                        <xs:element name="service" type="xs:string"></xs:element>

                                        <!-- *element telephone professionnel-->
                                        <xs:element name="telephone_professionnel">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                        value="\+221 [37][0-9] [0-9]{3} [0-9]{2} [0-9]{2}"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <!-- *fin element telephone professionnel-->
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- ?fin sous element de medecins-->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- !element medecin-->

                <!-- !element infirmiers-->
                <xs:element name="infirmiers">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- ?sous element infirmiers-->
                            <xs:element name="infirmier" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!-- *element matricule-->
                                        <xs:element name="matricule">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="INF-[A-Za-z0-9]{5}"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <!-- *fin element matricule-->

                                        <!-- *element nom-->
                                        <xs:element name="nom_complet" type="xs:string"></xs:element>

                                        <!-- *element service-->
                                        <xs:element name="service" type="xs:string"></xs:element>

                                        <!-- *element telephone professionnel-->
                                        <xs:element name="telephone_professionnel">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                        value="\+221 [37][0-9] [0-9]{3} [0-9]{2} [0-9]{2}"></xs:pattern>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <!-- *fin element telephone professionnel-->
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <!-- ?fin sous element infirmiers-->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- !fin element infirmiers-->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>